@using Hackathon_CV_Portal.Application.Implementations.AboutUs.Models
@using System.Security.Claims
@model AboutVM

@{
    ViewData["Title"] = "FindJob.Ge";
}

<div class="container">
    <div class="row justify-content-start mt-3">
        <div class="col-10 col-lg-8">
            <h1 class="display-3 text-black animated slideInDown mb-4">იპოვე თქვენთვის სასურველი სამსაური</h1>
            <div class="row">
                @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                {
                    <a asp-area="" asp-controller="Vacancy" asp-action="Index" class="btn btn-primary py-md-3 px-md-5 me-3 col-5 animated slideInLeft">მოდი სამსახურს ვიპოვი</a>
                    <a asp-area="" asp-controller="Vacancy" asp-action="Index" asp-route-withFiL="@false" asp-route-isFav="@true" class="btn btn-secondary py-md-3 px-md-5 col-5 animated slideInRight">ფავორიტი ვაკანსიები</a>
                }

                @if (User.Identity.IsAuthenticated && User.IsInRole("Company"))
                {
                    <a asp-controller="Vacancy" asp-action="Index" asp-route-companyId="@int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier))" class="btn btn-primary py-md-3 px-md-5 col-5 animated slideInRight">შენი გამოქვეყნებული ვაკანსიები</a>
                }
            </div>
        </div>
    </div>
</div>

@Html.Raw(Model.Content)

