@{
    ViewData["Title"] = "Success";
}

<body>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <p class="lead">
                ოპერაცია წარმატებით შესრულდა.
            </p>
            <a asp-controller="Home" asp-action="Idex" class="btn btn-primary">მთავარ მენიუზე დაბრუნება</a>
        </div>
    </div>
</body>
