    <body>
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold">403</h1>
                <p class="fs-3"> <span class="text-danger">Opps!</span>Access Denied!</p>
                <p class="lead">
                    თქვენ არ გაქვთ წვდომა ამ გვერთან.
                  </p>
                <a asp-controller="Home" asp-action="Idex" class="btn btn-primary">მთავარ მენიუზე დაბრუნება</a>
            </div>
        </div>
    </body>

