@using Hackathon_CV_Portal.Web.Models.UserAccountModel
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "დაგავიწდყათ პაროლი?";
}

<h2>@ViewData["Title"]</h2>
<h4>შეიყვანეთ თქვენი მაილი.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

