@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">თქვენი ანგარიში დაბლოკილი, გთხოვთ სცადოთ მოგვიანებით.</p>
</header>
