@{
    ViewData["Title"] = "პაროლის აღდგენა";
}

<div class="row d-flex justify-content-center align-items-center h-100">
    <p>
        თქვენი პაროლი შეიცვალა. გთხოვთ <a asp-action="Login">დააჭიროთ, რომ გაიროთ ავტორიზაცია</a>.
    </p>
</div>
