@using Hackathon_CV_Portal.Application.Implementations.Vacancies.Models
@using Hackathon_CV_Portal.Web.Models.VacancyModels
@model CreateVacancyDTO

@{
    ViewData["Title"] = "ვაკანსიის დამატება";
}

<div class="row">
    <div class="col-md-6 offset-lg-3 offset-md-2">
        <div class="row">
            <div class="col-md-8 offset-lg-2 offset-md-1">
                <form asp-action="Add" method="post">
                    @Html.AntiForgeryToken() 
                <hr />
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" type="text"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CompanyName"></label>
                    <input asp-for="CompanyName" class="form-control" type="text"/>
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId"></label>
                     <select asp-for="CategoryId" class="form-control" multiple asp-items="ViewBag.Categories"></select>
@*                        <select id="types" class=" form-control form-select" name="cars">
                            <option class="dropdown-item" value="1">PartTime</option>
                            <option value="2">FullTime</option>
                        </select>*@
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type"></label>
                                           <select id="types" class=" form-control form-select" name="cars">
                            <option class="dropdown-item" value="1">PartTime</option>
                            <option value="2">FullTime</option>
                        </select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location"></label>
                    <input asp-for="Location" class="form-control"/>
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SalaryRange"></label>
                    <input asp-for="SalaryRange" class="form-control"/>
                    <span asp-validation-for="SalaryRange" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeadLine"></label>
                    <input asp-for="DeadLine" type="date" class="form-control"/>
                    <span asp-validation-for="DeadLine" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control"/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Responsibility"></label>
                    <input asp-for="Responsibility" class="form-control"/>
                    <span asp-validation-for="Responsibility" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Qualifications"></label>
                    <input asp-for="Qualifications" class="form-control"/>
                    <span asp-validation-for="Qualifications" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"> ვაკანსიის დამატება</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>