@model CreateSkillDTO
@using Hackathon_CV_Portal.Web.Models.SkillsModel;

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1 class="text-center">დაამატე უნარი</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="AddSkill" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div class="row">
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="დამატება" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Create">უკან დაბრუნება</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>