@using Hackathon_CV_Portal.Web.Models.LocationModel
@model CreateLocationDto
@{
    ViewData["Title"] = "ლოკაციებიs მართვა";
}
<div class="row text">
    <div class="col-md-8 offset-lg-2 offset-md-2">
         <p>
            <h1 class="text-center">ლოკაციებიs მართვა</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-lg-2 offset-md-2">
                <form asp-action="AddLocation" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="form-group">
                            <label asp-for="Country" class="control-label"></label>
                            <input asp-for="Country" class="form-control" />
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="დამატება" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-controller="Location"  asp-action="Index">უკან დაბრუნება</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>