@using Hackathon_CV_Portal.Application.Implementations.AboutUs.Models;
@model AboutVM

<div class="row">
    <div class="container-fluid mb-1 mt-1 d-flex justify-content-center align-items-center">
        <div class="mt-2">
            <textarea id="NicEdit" cols="80" rows="5">Some Sample Text</textarea>
            <div class="float-right mt-2">
                <a id="submitButton" class="btn btn-primary text-white">შენახვა</a>
            </div>
        </div>
    </div>
</div>

<script language="javascript">


     bkLib.onDomLoaded(function()
    {
        new nicEditor().panelInstance('NicEdit');
        document.getElementsByClassName("nicEdit-main")[0].innerHTML = `@Html.Raw(Model.Content.ToString())`
        RemoveProperties($(".nicEdit-main")[0].style, ["width"])
        RemoveProperties($(".nicEdit-main")[0].parentElement.style, ["width"])
        RemoveProperties($(".nicEdit-main")[0].parentElement.parentElement.childNodes[1].style, ["width"])
    });

    $("#submitButton").on("click", function() {
        var innerContent = document.getElementsByClassName("nicEdit-main")[0].innerHTML;
        $.ajax({
            type: "POST",
            url: "/About/Edit",
            data: {
                Content: innerContent,
            },

            success: function (response) {
                window.location.href = response.redirectToUrl;
            }
        })
    })

    function RemoveProperties(elem, properties) {
        for(let i = 0; i < properties.length; i++) {
            elem.removeProperty(properties[i]);
        }
    }
</script>
