@using Hackathon_CV_Portal.Application.Implementations.AboutUs.Models
@model AboutVM


<div class="row">
    <div>
        @Html.Raw(Model.Content)
    </div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div>
            <a class="mr-3 btn btn-secondary float-right" asp-controller="About" asp-action="Edit">რედაქტირება</a>
        </div>
    }
</div>
