@using Hackathon_CV_Portal.Application.Implementations.AboutUs.Models
@model AboutVM

@{
    ViewData["Title"] = "ჩვენ შესახებ";
}

@*<div class="row">
    <div>
    @Html.Raw(Model.Content)
    </div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
    <div>
    <a class="mr-3 btn btn-secondary float-right" asp-controller="About" asp-action="Edit">რედაქტირება</a>
    </div>
    }
    </div>*@


<style>
    selectorWrappeDiv, a, p {
        font-size: 1.1rem;
    }

    p {
        text-indent: 2.5rem;
    }

    span {
        font-size: 0.75rem;
    }

</style>

<div class="container">
    <div class="d-flex align-items-center justify-content-center mb-5">
        <div class="row col-10" id="selectorWrappeDiv">
            <a id="opizari" class="btn btn-white col text-dark d-flex align-items-center justify-content-center border border-primary border-2" onclick="changeCollege(this)"><span>კოლეჯი "ოპიზარი"</span></a>
            <a id="ilia" class="btn btn-white col text-dark d-flex align-items-center justify-content-center  border border-dark border-2" onclick="changeCollege(this)"><span>ილია წინამძღვრიშვილის სახელობის პროფესიული კოლეჯი</span> </a>
            <a id="aisi" class="btn btn-white col text-dark d-flex align-items-center justify-content-center  border border-dark border-2" onclick="changeCollege(this)"><span>კოლეჯი „აისი“</span> </a>
        </div>
    </div>
    <hr />
    <div id="contenWrapper">
        <div id="opizariwrapperDiv" class="">
            <div class="container mb-5">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-12 col-sm-3 d-flex align-items-center justify-content-center mb-5 mt-5">
                        <img class="img-fluid" src="~/img/opizariBuilding.png" />
                    </div>
                    <div class="col-12 col-sm-3 d-flex align-items-center justify-content-center mt-5 mb-5">
                        <img class="img-fluid" src="~/img/opizariLogo.png" />
                    </div>
                </div>
                <div class="col-12 d-flex align-items-center justify-content-center mt-5 text-white">
                    <h2>სსიპ კოლეჯი „ოპიზარი“</h2>
                </div>
            </div>
            <div>
                <p>

                    სსიპ კოლეჯი „ოპიზარი“ მდებარეობს საქართველოს ერთ-ერთ უძველეს ისტორიულ მხარე – სამცხე-ჯავახეთში, კერძოდ, ქ. ახალციხეში. იგი დაარსებულ იქნა 1977 წელს. არსებობის მრავალწლიანი დროის განმავლობაში პროფესიული სასწავლებელი წარმატებით ასრულებს მის მთავრ მისისას – მოამზადოს მაღალკვალიფიციური სპეციალისტები შრომის ბაზრის მოთხოვნათა შესაბამისად.

                </p>

                <p>
                    კოლეჯის მატერიალურ-ტექნიკური ბაზა და აღჭურვილობა თანამედროვე სტანდარტების შესაბამისია. დაწესებულების ბაზაზე არსებობს სასწავლო ლაბორატორიები და აუდიტორიები თეორიული სწავლებისათვის. კოლეჯი ადაპტირებულია შშმ პირებისათვის. აგებულია სტანდარტული პანდუსი, ლიფტი და ა. შ.
                </p>

                <p>
                    საბიუჯეტო გრძელვადიან პროგრამებთან ერთად კოლეჯი ახორციელებს კერძო პირების, სამთავრობო და არასამთავრობო ორგანიზაციების დაკვეთით მოკლევადიან მომზადება-გადამზადების კურსებს.

                </p>

                <p>
                    კოლეჯში ინოვაციური იდეების განხორციელების მიზნით, შეიქმნა და წარმატებისთ მუშაობს „სამრეწველო ინოვაციების ლაბორატორია“.  ,,ფაბლაბ ოპიზარის“ ლაბორატორია აღჭურვილია უახლესი ტექნიკით და ეხმარება ყველა პროფესიის სტუდენტს საკუთარი კრიატიული იდეების რეალიზაციაში. ინფორმაციული ტექნოლოგიის კაბინეტში დამონტაჟებულია სმარტ დაფა, კოლეჯში ფუნქციონირებს საერთაშორისო ამერიკული ciscos აკადემია და ბიბლიოთეკა რომელიც აღჭურვილია მატერიალური და ელექტრონული წიგნადი ფონდით.
                </p>

                <p>
                    ჩარჩო დოკუმენტის საფუძველზე შექმნილი ავტორიზებული პროგრამები, გაიცემა შესაბამისი კვალიფიკაციის დიპლომი. ასევე ავტორიზებულია 13 მოკლევადიანი მომზადება/გადამზადების პროგრამ, რომლის დასრულების შემდეგ გაიცემა შესაბამისი  სერთიფიკატი
                </p>

                <p>
                    კოლეჯი წარმატებით თანამშრომლობს 82 პარტნიორ ორგანიზიაციასთან, ჩვენი კოლოეჯის კურსდამთავრებულები განსაკუთრებული ხელშეწყობით და უპირატესობით სარგებლობენ დამსაქმებლებთან ურთიერთობაში.
                </p>

                <p>
                    დღევანდელი მდგომარეობით კოლეჯში  ავტორიზებულია 28 მოდულური საგანამანთლებლო პროგრამა (მათ შორის 3 დუალური).
                    ამჟამად მიმდინარეობს რეგისტრაცია 26 ავტორიზებული პროფესიული საგანმანათლებლო პროგრამებზე:
                </p>

                <hr />

                <ol>
                    <li>შედუღება</li>
                    <li>იატაკისა და ფილის სამუშაოები</li>
                    <li>ხის მხატვრული დამუშავება</li>
                    <li>საავტომობილო გზების მშენებლობა</li>
                    <li>ვეტერინარია</li>
                    <li>ელექტროობა</li>
                    <li>აგრომექანიზაცია</li>
                    <li>სავალი ნაწილის შეკეთება</li>
                    <li>სასტუმრო მომსახურება(დუალური)</li>
                    <li>ვებტექნოლოგიები</li>
                    <li>თმის მომსახურება</li>
                    <li>კულინარიის ხელოვნება</li>
                    <li>საბაჟო საქმე</li>
                    <li>სამკერვალო წარმოება</li>
                    <li>საოფისე საქმე</li>
                    <li>საფინანსო სერვისები</li>
                    <li>ფერმერობა</li>
                    <li>აგრომექანიზაცია ზოგადი განათლების საშუალო საფეხურის სწავლის შედეგების ინტეგრირებით</li>
                    <li>ანაკრები და მონოლითური კონსტრუქციების მონტაჟი (მოდულური და დუალური მიდგომით)</li>
                    <li>წყალმომარაგების სისტემების ექსპლუატაცია (დუალური)</li>
                    <li>წყალარინების სისტემების ექსპლუატაცია (დუალური)</li>
                    <li>ფერმერობა ზოგადი განათლების საშუალო საფეხურის სწავლის შედეგების ინტეგრირებით</li>
                    <li>სატყეო საქმე ზოგადი განათლების საშუალო საფეხურის სწავლის შედეგების ინტეგრირებით</li>
                    <li>ბუღალტრული აღრიცხვა</li>
                    <li>თაბაშირ-მუყაოს კონსტრუქციების მონტაჟი</li>
                    <li>ფრჩხილის მომსახურება</li>
                </ol>

            </div>
        </div>
        <div id="iliawrapperDiv" class="d-none">
            <div class="container mb-5">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-12 col-sm-5 d-flex align-items-center justify-content-center mb-5 mt-5">
                        <img class="img-fluid" src="/img/iliaBuilding.png">
                    </div>
                    <div class="col-12 col-sm-5 d-flex align-items-center justify-content-center mb-5 mt-5">
                        <img class="img-fluid" src="/img/iliaLogo.png">
                    </div>
                </div>
                <div class="col-12 d-flex align-items-center justify-content-center mb-4 text-white mt-5">
                    <h2>სსიპ ილია წინამძღვრიშვილის სახელობის პროფესიული კოლეჯი </h2>
                </div>
            </div>

            <div>
                <p>სსიპ ილია წინამძღვრიშვილის სახელობის პროფესიული კოლეჯი მდებარეობს მცხეთის რაიონში, სოფელ წინამძღვრიანთკარში. ქველმოქმედმა ილია წინამძღვრიშვილმა სოფელ წინამძღვრიანთკარში, საკუთარ მამულში, თავისი სახსრებითა და წერა - კითხვის გამავრცელებელი საზოგადოების წევრებისა და ილია ჭავჭავაძის თანადგომით დაარსა სკოლა 1883 წელს, სადაც სწავლა იაკობ გოგებაშვილის მიერ შედგენილი წესდებით და ნიკო ცხვედაძის მიერ შემუშავებული პროგრამებით ქართულ ენაზე მიმდინარეობდა. </p>
                <p>სკოლაში  დაწყებით საფეხურზე ისწავლებოდა წერა - კითხვა და ზოგადსაგანმანათლებლო საგნები, შემდეგ კი მოსწავლეები იწყებდნენ სპეციალობის შესწავლას აგრარული მიმართულებით.</p>
                <p>კოლეჯს სხვადასხვა პერიოდში ეცვლებოდა სახელი - სკოლა, სასწავლებელი, ტექნიკუმი. 2014 წლის 17 ივნისს საქართველოს განათლებისა და მეცნიერების მინისტრის ბრძანებით ხელახლა დაფუძნდა, როგორც საჯარო სამართლის იურიდიული პირი  და მას ილია წინამძღვრიშვილის სახელობის საზოგადოებრივი კოლეჯი ეწოდა.</p>
                <p>კოლეჯის სრული რეაბილიტაცია დასრულდა 2016 წელს და დღეისთვის მიმდინარეობს  29 პროფესიულ საგანამანათლებლო პროგრამაზე სწავლება, როგორც აგრარულ, ისე ყველა იმ სპეციალობაზე, რომელიც აქტუალურია მცხეთა - მთიანეთის რეგიონის მუნიციპალიტეტებისთვის შემდგომი დასაქმების ხელშეწყობის მიზნით, ესენია ტურიზმი, მომსახურების სფერო, სოფლის მეურნეობა, კვების პროდუქტების წარმოება. კოლეჯში სწავლება ხორციელდება დუალური, მოდულური და ინტეგრირებული მიდგომით. ამასთან კოლეჯი ახორციელებს 6 პროფესიულ მომზადებისა და გადამზადების პროგრამას, სხვადასხვა პროფესიის ადამიანებისთვის.</p>
                <p>სტუდენტთა მეტი ხელშეწყობისათვის კოლეჯი რეგიონის 4 მუნიციპალიტეტში - მცხეთა, სტეფანწმინდა , თიანეთი და დუშეთი - ახორციელებს სასწავლო პროგრამებს თანამედროვე სტანდარტების შესაბამისად აღჭურვილი კაბინეტ - ლაბორატორიებით.</p>
                <p>კოლეჯი ახორციელებს შემდეგ საგანამანათლებლო პროგრამებს:</p>

                <hr />
                <p>კოლეჯი მცხეთის რაიონის სოფელ  წინამძღვრიანთკარის ძირითად სასწავლო ფართში ახორციელებს 21 პროგრამას: </p>
                <ol>
                    <li>მევენახეობა და მეღვინეობა  (დუალური) </li>
                    <li>რძის პროდუქტების წარმოება (დუალური) </li>
                    <li>ვეტერინარია (დუალური) </li>
                    <li>ხილისა და ბოსტნეულის გადამუშვება (დუალური) </li>
                    <li>მებაღეობა (დუალური) </li>
                    <li>კულინარიის ხელოვნება (დუალური) </li>
                    <li>მეფუტკრეობა (მოდულური) </li>
                    <li>აღმზრდელი (მოდულური) </li>
                    <li>სატყეო საქმე (მოდულური) </li>
                    <li>სასმელების წარმოება (მოდულური) </li>
                    <li>ბუღალტრული აღრიცხვა (მოდულური) </li>
                    <li>ინფორმაციის ტექნოლოგია (მოდულური) </li>
                    <li>სამკერვალო წარმოება (მოდულური) </li>
                    <li>კომპიუტერული ქსელი და სისტემები (მოდულური) </li>
                    <li>თმის მომსახურება (მოდულური) </li>
                    <li>ხის მხატვრული დამუშავება (მოდულური) </li>
                    <li>ელექტროობა (მოდულური) </li>
                    <li>სასტუმრო მომსახურება (მოდულური) </li>
                    <li>მებოსტნეობა (მოდულური) </li>
                    <li>ღონისძიების ორგანიზება (მოდულური) </li>
                </ol>

                <hr />
                <p>კოლეჯი დაბა თიანეთის დამატებით სასწავლო ფართში ახორციელებს 6 პროგრამას: </p>
                <ol>
                    <li>რძის პროდუქტების წარმოება (დუალური)</li>
                    <li>მეხილეობა (დუალური)</li>
                    <li>სატყეო საქმე (მოდულური)</li>
                    <li>მეფუტკრეობა (მოდულური)</li>
                    <li>ბუღალტრული აღრიცხვა (მოდულური)</li>
                    <li>ინფორმაციის ტექნოლოგია (მოდულური)</li>
                </ol>

                <hr />
                <p>კოლეჯი დაბა სტეფანწმინდის დამატებით სასწავლო ფართში ახორციელებს 3 პროგრამას: </p>
                <ol>
                    <li>ბუღალტრული აღრიცხვა (მოდულური)</li>
                    <li>ელექტროობა (მოდულური)</li>
                    <li>სასტუმრო მომსახურება (დუალური)</li>
                </ol>

                <hr />
                <p>კოლეჯი ახორციელებს 6 პროფესიული მომზადებისა და გადამზადების პროგრამას:</p>
                <ol>
                    <li>ტრაქტორის მართვა და ნიადაგის დამუშავება (ხორციელდება - წინამძღვრიანთკარი);</li>
                    <li>ბაღის მოვლა(ხორციელდება - წინამძღვრიანთკარი);</li>
                    <li>ფუტკრის დაავადებების მკურნალობა და პროფილაქტიკა(ხორციელდება - წინამძღვრიანთკარი/თიანეთი);</li>
                    <li>მერქნისა და მერქნული მასალებისაგან ნაკეთობების დამზადება (ხორციელდება - წინამძღვრიანთკარი);</li>
                    <li>სასტუმროს ჯავშნისა და მიღება-განთავსების მომსახურება (ხორციელდება - წინამძღვრიანთკარი/სტეფანწმინდა);</li>
                    <li>მცენარეთა დაცვის სამუშაოების წარმოება (ხორციელდება - წინამძღვრიანთკარი);</li>

                </ol>


            </div>
        </div>
        <div id="aisiwrapperDiv" class="d-none">
            <div class="container mb-5">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-12 col-sm-5 d-flex align-items-center justify-content-center mb-5 mt-5">
                        <img class="img-fluid" src="~/img/aisiBuilding.png" />
                    </div>
                    <div class="col-12 col-sm-5 d-flex align-items-center justify-content-center mb-5 mt-5">
                        <img class="img-fluid" src="~/img/aisiLogo.png" />
                    </div>
                </div>
                <div class="col-12  d-flex align-items-center justify-content-center mb-4 text-white mt-5">
                    <h2>პროფესიული კოლეჯი „აისი“</h2>
                </div>

                <div>
                    <p>კოლეჯი „აისი“ კახეთის რეგიონში ლიდერი პროფესიულ საგანმანათლებლო დაწესებულებაა. კოლეჯის ისტორია 1980 წლიდან იწყება. მას შემდეგ    საზოგადოება იგებს, სწავლობს, იღებს  ამ კოლეჯიდან ინოვაციურ განათლებას.  კოლეჯი ,,აისი“, მისი სასწავლო პროცესი, კურსდამთავრებულები,  ინტელექტუალური პოტენციალი, პარტნიორებთან და კოლეგებთან ურთიერთობები, ჩვენი ისტორია - არის ერთგვარი ცოცხალი ორგანიზმი, რომელიც  მუდმივად ახლის ძიებაშია, მუდმივად ვითარდება და მუდმივად იმარჯვებს. კოლეჯი ,,აისი“ არის პიროვნულ ზრდაზე ორიენტირებული ორგანიზაცია.  სასწავლო პროცესი  მიმართულია არა მხოლოდ სტუდენტის ინფორმაციითა და ცოდნით აღჭურვისკენ, არამედ ამ ცოდნის გამოყენებისა და განვრცობის, მის საფუძველზე ახლის მოძიებისკენ. ამიტომ აქ ცოდნის მიღების პარალელურად, სტუდენტებს და მსმენელებს  ვეხმარებით ძლიერი პიროვნული მახასიათებლების განვითარებაში, მათ საზოგადოებასა და სოციალურ გარემოში ინტეგრაციაში, საკუთარი უნარებისა და სოციალური როლის გააზრებაში.    დაარსების დღიდან  კოლეჯში პროფესიული განათლება 50 000-ზე მეტმა ადამიანმა მიიღო. კოლეჯი „აისი“ მოიცავს კახეთის თითქმის მთელ რეგიონს და ძირითადად ოთხ მუნიციპალიტეტშია განთავსებული: გურჯაანის, დედოფლისწყაროს, ლაგოდეხის და ახმეტის მუნიციპალიტეტებში.</p>
                    <p>ოლეჯ „აისს“ აქვს უნივერსალური დიზაინის სასწავლო  გარემო, რომელიც ადაპტირებულია ნებისმიერი საჭიროების მქონე (სსსმ/შშმ) პირისთვის. კოლეჯი უნიკალურია მატერიალურ-ტექნიკური ბაზით, საწარმოებით, ლაბორატორიებით, სახელოსნოებით და სხვადასხვა ტიპის მეურნეობებით. კოლეჯი  წარმოადგენს თანამედროვე დონეზე რეაბილიტირებულ, ახალი ტექნოლოგიებით აღჭურვილ პროფესიულ საგანმანათლებლო დაწესებულებას. კოლეჯ „აისის“ კაჭრეთის ბაზაზე ფუნქციონირებს 300 სტუდენტზე გათვლილი კეთილმოწყობილი  სტუდენტთა პანსიონი, სადაც ყველა სტუდენტს შეუძლია იცხოვროს სახელმწიფოს დაფინანსებით. კოლეჯ „აისში“ სწავლა ხორციელდება  სახელმწიფოს სრული დაფინანსებით.</p>
                    <p>  კოლეჯ „აისის“ მიზანია, მაღალი პროფესიული სტანდარტების დანერგვა და  შრომის ბაზრის მოთხოვნების შესაბამისი მაღალკვალიფიციური სპეციალისტების მომზადება. კოლეჯის გუნდი მუდმივად ისწრაფვის განვითარებისა და სრულყოფილებისაკენ.</p>

                    <p>კოლეჯი ახორციელებს 22 საგანამანათლებლო პროგრამას:</p>

                    <ol>
                        <li>ბურაღალტრული აღრიცხვა</li>
                        <li>ელექტრობაა</li>
                        <li>ვეტერინარია</li>
                        <li>თაბაშირ-მუყაოს კონსტრუქციების მონტაჟი</li>
                        <li>თექის დამზადება</li>
                        <li>თმისა და სილამაზის მომსახურება</li>
                        <li>იატაკისა და ფილის სამუშაოები</li>
                        <li>ინფორმაციის ტექნოლოგია</li>
                        <li>კერამიკული ნაკეთობის დამზადება</li>
                        <li> კომპიუტერული ქსელი და სისტემები</li>
                        <li>კულინარიის ხელოვნება</li>
                        <li>მებაღეობა</li>
                        <li>მევენახეობა - მეღვინეობა</li>
                        <li>მეფუტკრეობა</li>
                        <li>მომინანქრება</li>
                        <li>მხატვრული ქსოვილები</li>
                        <li>საოფისე საქმე </li>
                        <li>სატყეო საქმე </li>
                        <li>ქვის სამუშაოების წარმოება</li>
                        <li>შედუღება</li>
                        <li>ხილისა და ბოსტნეულის გადამუშავება</li>
                        <li>ხის მხატვრული დამუშავება</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function changeCollege(element) {
        // Border removal
        var initialBorderClass = "border-dark"
        var borderClasses = "border-primary";
        $(element).removeClass(initialBorderClass);
        $(element).addClass(borderClasses);
        $(element).parent().children().not("#" + element.id).removeClass(borderClasses);
        $(element).parent().children().not("#" + element.id).addClass(initialBorderClass);

        // d-none (hidden) class adder
        $("#" + element.id + "wrapperDiv").removeClass("d-none")
        $("#contenWrapper").children().not("#" + element.id + "wrapperDiv").addClass("d-none");
    }
</script>